* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  background-color: #16161d;
  /* background: linear-gradient(90deg, #04b471, #16161d, #044c22, #16161d,#299b74,#16161d,#297149);
    background-size: 1800% 1800%;
    -webkit-animation: Aurora 180s ease infinite;
    -moz-animation: Aurora 180s ease infinite;
    animation: Aurora 180s ease infinite;
  animation-iteration-count: infinite; */
  font-family: "Noto Sans", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  /* margin: 50px; */
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
span {
  font-size: 100px;
  font-weight: bold;
  font-variant-caps: all-small-caps;
  color: #f0f0f0;
}
section {
  margin: 10px;
  width: 100%;
  /* height: 30vh; */
  line-height: 35px;
  padding: 15px;
  z-index: -100;
}

.avatar {
  width: 200px;
  height: 199px;
  border-radius: 50%;
  /* rotate: -5deg; */
  z-index: -100;
  position: relative;
}
section {
  padding: 10px;
}
.content {
  display: flex;
}
.about-me {
  color: #f0f0f0;
  justify-content: flex-start;
}
.about-project {
  color: #f0f0f0;
}
footer {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: #fff; */
}
footer form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}

footer form label {
  color: #fff;
  font-weight: 400;
  /* line-height: 10px; */
}
footer form {
padding: 0;
margin: 0;

}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
  margin: 30px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
form textarea{
  height: 60px;
}

footer ul {
  display: flex;
  /* gap: 100px; */
  justify-content: space-evenly;
  align-items: center;
  /* flex-wrap: wrap; */
  width: 100%;
  background: #fff;
  height: 30px;
}
footer a {
  text-decoration: none;
  color: #212828;
  line-height: 35px;
  padding: 5px;
  font-size: 16px;
  letter-spacing: 1px;
}

.button {
  margin: 20px;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

@media (max-width: 750px) {
  .content {
    flex-direction: column;
  }
  span {
    font-size: 75px;
    padding: 10px;
    margin: 5px;
  }
}
@media (max-width: 750px) {
footer a{
  font-size: 10px;
}
span{
  span {
    font-size: 30px;
    padding: 5px;
    margin: 5px;
  }
}
}
