@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #16161d;
}

.backimg {
  width: 50%;
  height: 500px;
  background-image: url("/static/images/6538623-removebg-preview.png");
  background-size: contain;
  background-repeat: no-repeat;
}

i {
  bottom: 30px;
  left: 35%;
  position: relative;
}
.card img {
  width: 25px;
  position: absolute;
}
.card {
  width: 360px;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f1f1;
  color: #000000;
  border-radius: 15px;

  flex-direction: column;
  box-shadow: -2px 1px 15px 0px #c8e1ec;
}
.rotate_card {
  animation: rotateY 0.9s ease-in-out;
}
.front,
.back {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.front h3 {
  font-size: 36px;
  color: green;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.back h3 {
  font-size: 36px;
  color: green;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.front {
  display: none;
}
.back {
  display: flex;
}
.tologin,.tosignup{
width: auto;
}
input {
  width: 200px;
  padding: 0px;
  margin: 0px;
  border: none;
  border-bottom: 2px solid green;
  background: transparent;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}

input:focus {
  outline: none;
}

.front form {
  display: flex;
  gap: 35px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.back form {
  display: flex;
  gap: 35px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
    background: #fff;
  }
}


@media screen and (max-width: 599px) {
  .backimg{
display: none;
  }
  .card{
    width: 260px;
  }
}


@media screen and (min-width: 600px) and (max-width: 899px) {
  .backimg{
    display: none;
      }
      .card{
        width: 560px;
      }
      input{
        width: 500px;
      }
}


@media screen and (min-width: 900px) {

}
