<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Companian</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/asset/images/logo.avif">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <nav class="nav-bar">
        <a class="logo-container">
            <div class="nav-logo">
                <img src="/static/asset/images/logo.avif" alt="brand logo">
            </div>
            <div class="brand-name">
                $E&euro;R&#8366; &euro;0M&#8369;&#8371;NI0N
            </div>
        </a>
    </nav>
    <main class="main">
        <div class="split-main left-side">
            <div class="main-cotent">
                <div class="band-display">
                    <div class="brand-header">
                        <div class="brand-logo">
                            <img src="/static/asset/images/logo.avif" alt="">
                        </div>
                        <h1 class="brand-name">
                            $E&euro;R&#8366; &euro;0M&#8369;&#8371;NI0N
                        </h1>
                    </div>
                </div>
                <!-- <p class="brand-text">
                 Welcome to your new haven of digital security! Our landing page introduces a suite of tools designed to safeguard your online life. Here, you'll find intuitive solutions for password management, file encryption, and image security, each crafted to enhance your digital safety without sacrificing convenience. Embrace a secure, streamlined experience with our advanced encryption technologies and robust authentication methods, including two-step verification. Discover peace of mind in an increasingly digital world—join us and step into a future where your digital security is our top priority. Explore our features and see how we're redefining online safety for you!
                </p> -->
            </div>
        </div>
        <div class="split-main features-main">
            <div class="inner-split">
                <div class="split-title">
                    <span><i class="fas fa-magic"></i> Features</span>
                    <span class="heading">" Secure Your Digital Life with Our All-in-One Solution "</span>
                </div>
                <div class="features">
                    <ul class="card-container">
                        <li class="card active" index="1">
                            <div class="card-background">
                                <!-- <img src="asset/images/password-managers.webp" alt="" style="border-radius: 5px;"> -->
                            </div>
                            <div class="card-content">
                                <div class="card-title">
                                    <div class="card-icon">
                                        <img src="/static/asset/icons/icon_1 (1).png" alt="">
                                    </div>
                                    <h1 class="title">Password Manager: <span class="ketword">Simplify Your Security</span></h1>
                                </div>
                                <p class="card-description">
                                    <span class="first">N</span>ever forget a password again with our robust Password Manager. 
                                    Effortlessly store and retrieve your passwords across various apps and websites. 
                                    Each entry is secured under a unique name and password of your choosing,
                                    ensuring utmost privacy and ease of access. Embrace a seamless digital experience with top-tier security.
                                </p>
                            </div>
                        </li>
                        <li class="card" index="2">
                            <div class="card-background"></div>
                            <div class="card-content">
                                <div class="card-title">
                                    <div class="card-icon">
                                        <img src="/static/asset/icons/icon_2 (1).png" alt="">
                                    </div>
                                    <h1 class="title">File Encryptor: <span class="keyword">Your Digital Safe for Files</span></h1>
                                </div>
                                <p class="card-description">
                                    Store and protect with confidence using our File Encryptor. 
                                    Whether it's personal documents or sensitive data, upload files with the assurance of high-level encryption. 
                                    Enjoy free encryption services for files under 100MB, and for larger files,
                                    our premium plan ensures your data is securely tucked away in our encrypted database.
                                </p>
                            </div>
                        </li>
                        <li class="card" index="3">
                            <div class="card-background"></div>
                            <div class="card-content">
                                <div class="card-title">
                                    <div class="card-icon">
                                        <img src="/static/asset/icons/icon_3 (1).png" alt="">
                                    </div>
                                    <h1 class="title">Image Encryptor: <span class="keyword">Guard Your Visual Data</span></h1>
                                </div>
                                <p class="card-description">
                                    Keep your images under lock and key with our Image Encryptor. Similar to our file encryptor, 
                                    this tool secures your photos and graphics with robust encryption techniques. 
                                    Store your visual memories or confidential imagery without a worry. 
                                    Our encryption shields your images from unauthorized access, preserving their confidentiality.
                                </p>
                            </div>
                        </li>
                        <li class="card" index="4">
                            <div class="card-background"></div>
                            <div class="card-content">
                                <div class="card-title">
                                    <div class="card-icon">
                                        <img src="/static/asset/icons/icon_4 (1).png" alt="">
                                    </div>
                                    <h1 class="title">Safe Authentication: <span class="keyword">Double-Layered Security</span></h1>
                                </div>
                                <p class="card-description">
                                    Strengthen your login shield with our Safe Authentication method. 
                                    We offer a two-step verification process to ensure that you are the only one with access to your account. 
                                    This added layer of security brings peace of mind, 
                                    knowing that your personal and professional data is protected against any unauthorized intrusion.
                                </p>
                            </div>
                        </li>
                    </ul>
                    <ul class="indicators">
                        <li class="features-bar active" index="1">
                            <div class="bar"></div>
                        </li>
                        <li class="features-bar" index="2">
                            <div class="bar"></div>
                        </li>
                        <li class="features-bar" index="3">
                            <div class="bar"></div>
                        </li>
                        <li class="features-bar" index="4">
                            <div class="bar"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <footer>
            <p class="list">Developers</p>
            <ul class="developers-list">
                <li class="developer">
                    <p class="dev-name">Front-end</p>
                    <a href="https://github.com/Vinoth82003" class="developername">Vinoth S 
                        <div class="icon">
                            <i class="fab fa-github"></i>
                        </div>
                    </a>
                </li>
                <li class="developer">
                    <p class="dev-name">Back-end</p>
                    <a href="https://github.com/sabarinathan1611" class="developername">Sabarinathan V 
                        <div class="icon">
                            <i class="fab fa-github"></i>
                        </div>
                    </a>
                </li>
            </ul>
        </footer>
    </main>
    <script src="/static/js/script.js"></script>
</body>
</html>
