<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/asset/logos/logo.png">
    <title>Secret Companian</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="brand">
            <div class="brand-logo">
                <img src="/static/asset/logos/logo.png" alt="brand logo">
            </div>
            <h1 class="brand-name">Security Companian</h1>
        </div>
        <div class="construction-animation">
            <div class="icon">
                <img src="/static/asset/logos/settings.png" alt="">
            </div>
            <div class="contents">
                <p class="text">We are Constructing our website</p>
                <p class="text">Launch Soon..!</p>
            </div>
        </div>
        <main class="main-container">
            <div class="left-side">
                <img src="/static/asset/images/main-image.png" alt="main image">
            </div>
            <div class="right-side">
                Welcome to your new haven of digital security! Our landing page introduces a suite of tools designed to safeguard your online life. Here, you'll find intuitive solutions for password management, file encryption, and image security, each crafted to enhance your digital safety without sacrificing convenience. Embrace a secure, streamlined experience with our advanced encryption technologies and robust authentication methods, including two-step verification. Discover peace of mind in an increasingly digital world—join us and step into a future where your digital security is our top priority. Explore our features and see how we're redefining online safety for you!
            </div>
        </main>
        <div class="scroll-container">
            <ul class="crad-container">
                <li class="card">
                    <div class="card-head">
                        <div class="card-image">
                            <img src="/static/asset/images/password-manager.png" alt="password-manager">
                        </div>
                        <div class="card-title">
                            Password <br> Manager
                        </div>
                    </div>
                    <div class="card-description">
                        <p class="text">
                            <span class="first">N</span>ever forget a password again with our robust Password Manager. 
                            Effortlessly store and retrieve your passwords across various apps and websites. 
                            Each entry is secured under a unique name and password of your choosing, 
                            ensuring utmost privacy and ease of access. 
                            Embrace a seamless digital experience with top-tier security.
                        </p>
                    </div>
                </li>
                <li class="card">
                    <div class="card-head">
                        <div class="card-image">
                            <img src="/static/asset/images/file-manager.png" alt="password-manager">
                        </div>
                        <div class="card-title">
                            File  <br> Manager
                        </div>
                    </div>
                    <div class="card-description">
                        <p class="text">
                            <span class="first">S</span>tore and protect with confidence using our File Encryptor. 
                            Whether it's personal documents or sensitive data, upload files with the assurance of high-level encryption. 
                            Enjoy free encryption services for files under 100MB, 
                            and for larger files, our premium plan ensures your data is securely tucked away in our encrypted database.
                        </p>
                    </div>
                </li>
                <li class="card">
                    <div class="card-head">
                        <div class="card-image">
                            <img src="/static/asset/images/image-manager.png" alt="password-manager">
                        </div>
                        <div class="card-title">
                            Image  <br> Manager
                        </div>
                    </div>
                    <div class="card-description">
                        <p class="text">
                            <span class="first">K</span>eep your images under lock and key with our Image Encryptor. 
                            Similar to our file encryptor, this tool secures your photos and graphics with robust encryption techniques. 
                            Store your visual memories or confidential imagery without a worry. 
                            Our encryption shields your images from unauthorized access, preserving their confidentiality.
                        </p>
                    </div>
                </li>
                <li class="card">
                    <div class="card-head">
                        <div class="card-image">
                            <img src="/static/asset/images/authentication.png" alt="password-manager">
                        </div>
                        <div class="card-title">
                            Authentication  <br> Manager
                        </div>
                    </div>
                    <div class="card-description">
                        <p class="text">
                            <span class="first">S</span>trengthen your login shield with our Safe Authentication method. 
                            We offer a two-step verification process to ensure that you are the only one with access to your account. 
                            This added layer of security brings peace of mind, 
                            knowing that your personal and professional data is protected against any unauthorized intrusion.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <footer></footer>
        <script>
            const cradContainer = document.querySelector('.crad-container');

// Function to scroll
function scrollRight() {
    cradContainer.scrollLeft += 1; // Adjust the speed by changing the increment value
}

// Set interval for scrolling
let scrollInterval = setInterval(scrollRight, 20); // Adjust the interval for speed

// Stop scrolling on hover
cradContainer.addEventListener('mouseover', () => {
    clearInterval(scrollInterval);
});

// Start scrolling when not hovering
cradContainer.addEventListener('mouseout', () => {
    scrollInterval = setInterval(scrollRight, 20); // Adjust the interval for speed
});

// Reset scroll position if it reaches the end
cradContainer.addEventListener('scroll', () => {
    if (cradContainer.scrollWidth <= cradContainer.scrollLeft + cradContainer.clientWidth) {
        cradContainer.scrollLeft = 0;
    }
});

        </script>
    </div>
</body>
</html>
