<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="static/css/login.css" />
  </head>
  <body>
    <div class="backimg"></div>
    <div class="container">
      <div class="card">
        <!-- <i id="rotate" ><img src="/img/refresh.png" alt=""></i> -->

        <div class="front">
          <h3 class="login">LOGIN</h3>

          <form id="login" action="/login" method="post">
            {{ login.csrf_token() }}
 
             {{ login.email(placeholder="Email") }}
           
          {{ login.password(placeholder="Password") }}
            <a href="/forgetpassword">Forget Password</a>
               {{ login.submit(class="button") }}
         
          </form>
          <input type="button" class="tosignup" value="Create Account" />
        </div>

        <div class="back">
          <h3 class="login">SIGNUP</h3>
          <form id="signup" action="/sign-up" method="post">
             {{ form.csrf_token }}
            
            {{ form.fullname(placeholder="Name") }}

            <!-- <input type="text" name="name" id="name" placeholder="Name" /> -->
              {{ form.email(placeholder="Email",required=True) }}
           <!--  <input
              type="password"
              name="password"
              id="password"
              placeholder="password"
            /> -->
           <!--  <input
              type="password"
              name="password"
              id="password"
              placeholder="password"
            /> -->
            {{ form.password( id="Password",placeholder="Password", required=True) }}
            {{ form.confirm_password( id="ConfirmPassword",placeholder="Confirm password", required=True) }}
            
             {{ form.submit(class="button") }}
          </form>
          <input type="button" class="tologin" value="LOGIN" />
        </div>
      </div>
    </div>
    <script src="static/js/login.js"></script>
  </body>
</html>
