<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/showpassword.css">
  <link rel="stylesheet" href="static/css/nav.css">
  <title>Password</title>
</head>
<body>
  <nav>
      <ul class="sidebar">
        <li onclick="hideSidebar()" ><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
        <li><a href="{{url_for('view.showpass')}}">Password</a></li>
        <li><a href="{{url_for('view.decrypt_file')}}">File</a></li>
        <li><a href="{{url_for('view.profile')}}">Profile</a></li>
        <li><a href="#">About</a></li>
        {%if current_user.admin == True%}
        <li><a href="{{'view.admin'}}">Admin</a></li>
        {%endif%}
        <li><a href="{{url_for('auth.logout')}}">Logout</a></li>
      </ul>
      <ul>
        <li><a href="{{url_for('view.home')}}">Net Turst</a></li>
        <li class="hideOnMobile"><a href="{{url_for('view.showpass')}}">Password</a></li>
        <li class="hideOnMobile"><a href="{{url_for('view.decrypt_file')}}">File</a></li>
        <li class="hideOnMobile"><a href="{{url_for('view.profile')}}">Profile</a></li>
        <li class="hideOnMobile"><a href="#">About</a></li>
        <li class="hideOnMobile"><a href="{{url_for('view.admin')}}">Admin</a></li>
        <li class="hideOnMobile"><a href="{{url_for('auth.logout')}}">Logout</a></li>
        <li class="menu-button" onclick="showSidebar()" ><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>

      </ul>
    </nav>

  <div class="card-container">
    {% for entry in data %}
    <div class="card">
      <form id="form-{{ entry.id }}" action="/edit-password" method="post">
        {{ form.csrf_token }}
        <label for="URL">URL</label>
        <input type="number" name="id" value="{{ entry.id }}" hidden>
        <input type="text" name="url" value="{{ entry.data.url }}" disabled />
        <label for="Username">Username</label>
        <input type="text" name="username" value="{{ entry.data.username }}" disabled />
        <label for="Name">Name</label>
        <input type="text" name="name" value="{{ entry.data.name }}" disabled />
        <label for="Password">Password</label>
        <input type="password" name="password" value="{{ entry.data.password }}" disabled />
        <button id="edit_btn-{{ entry.id }}" style="display: block;" type="button">Edit</button>
        <button id="save_btn-{{ entry.id }}" style="display: none;" type="submit">Save</button>
      </form>
    </div>
    {% endfor %}
  </div>

  <!-- <script src="static/js/passwords.js"></script> -->
  <script src="static/js/home.js"></script>
  <script src="static/js/scroll.js"></script>
  
  <script>
    const buttons = document.querySelectorAll("button");

    buttons.forEach((button) => {
      button.addEventListener("click", function (event) {
        // event.preventDefault();

        const clickedButtonId = button.id;

        if (clickedButtonId.startsWith("edit_btn")) {
          const btnIndex = clickedButtonId.split("-")[1];
          const saveBtn = document.getElementById(`save_btn-${btnIndex}`);
          const form = document.getElementById(`form-${btnIndex}`);

          // Toggle display of buttons
          button.style.display = "none";
          saveBtn.style.display = "block";

          // Enable inputs within the form
          const inputs = form.getElementsByTagName("input");
          for (let i = 0; i < inputs.length; i++) {
            inputs[i].removeAttribute("disabled");
          }
        }

        console.log("Clicked button ID:", clickedButtonId);
      });
    });
  </script>
</body>
</html>
